@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: #3A4374;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F8FD;
}

.container-flex {
  width: 87.5%;
  max-width: 1200px;
  display: flex;
}

.container-grid {
  width: 87.5%;
  max-width: 1200px;
  display: grid;
}

.category {
  padding: 6px 16px;
  border-radius: 10px;
  background-color: #F2F4FF;
}
.category p {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
}

.upvote:hover, .categories .category:hover {
  background-color: #CFD7FF !important;
  transition: 0.2s;
}

.upSelect {
  background-color: #4661E6 !important;
}
.upSelect p {
  color: #FFFFFF;
}

.btn-primary {
  width: auto;
  display: grid;
  place-items: center;
}
.btn-primary button, .btn-primary input, .btn-primary a {
  padding: 10.5px 16.5px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #F2F4FF;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .btn-primary button, .btn-primary input, .btn-primary a {
    font-size: 14px;
    line-height: 20px;
    padding: 12.5px 25px;
  }
}
.btn-primary button:hover, .btn-primary input:hover, .btn-primary a:hover {
  transition: 0.2s;
}

.btn-purple button, .btn-purple input {
  background-color: #AD1FEA;
}
.btn-purple button:hover, .btn-purple input:hover {
  background-color: #C75AF6;
}

.btn-blue button, .btn-blue input {
  background-color: #4661E6;
}
.btn-blue button:hover, .btn-blue input:hover {
  background-color: #7C91F9;
}

.btn-dark-blue button, .btn-dark-blue input, .btn-dark-blue a {
  background-color: #373F68;
}
.btn-dark-blue button:hover, .btn-dark-blue input:hover, .btn-dark-blue a:hover {
  background-color: #656EA3;
}

.btn-red button, .btn-red input {
  background-color: #D73737;
}
.btn-red button:hover, .btn-red input:hover {
  background-color: #E98888;
}

.btn-goback-primary {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.btn-goback-primary p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #647196;
}
.btn-goback-primary:hover {
  text-decoration: underline;
}

.btn-goback-secundary {
  width: auto;
  padding: 16px 41px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #373F68;
}
.btn-goback-secundary p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}
.btn-goback-secundary:hover p {
  text-decoration: underline;
}

@media screen and (min-width: 1150px) {
  main .feed {
    margin: 0;
    min-height: 600px;
    padding-block: 1rem;
    grid-column: 3/4;
    grid-row: 2/3;
    grid-auto-rows: max-content;
  }
}

main {
  width: 100%;
  display: grid;
}
@media screen and (min-width: 1150px) {
  main {
    grid-template-columns: 1fr 255px 825px 1fr;
    place-self: center;
  }
}
main aside {
  width: 100%;
  max-width: 1200px;
  display: grid;
  place-items: center;
  position: relative;
}
@media screen and (min-width: 700px) {
  main aside {
    width: 87.5%;
    margin: 0 auto;
    padding-block: 40px;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1150px) {
  main aside {
    width: 100%;
    grid-row: 1/3;
    grid-column: 2/3;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
  }
}
main aside > header {
  width: 100%;
  padding-block: 16px;
  display: grid;
  place-items: center;
  background-image: url("assets/suggestions/tablet/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 700px) {
  main aside > header {
    height: 178px;
    border-radius: 10px;
    place-items: end;
    padding-block: 24px;
  }
}
main aside > header > div {
  justify-content: space-between;
  align-items: center;
}
main aside > header > div > div {
  display: flex;
  flex-direction: column;
}
main aside > header > div > div h1, main aside > header > div > div h2 {
  color: #FFFFFF;
}
main aside > header > div > div h1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1875px;
}
@media screen and (min-width: 700px) {
  main aside > header > div > div h1 {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
  }
}
main aside > header > div > div h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}
@media screen and (min-width: 700px) {
  main aside > header > div > div h2 {
    font-size: 15px;
    line-height: 22px;
  }
}
main aside > header > div img {
  width: 20px;
  height: 17px;
}
main aside > header > div .btn-close-menu {
  display: none;
}
@media screen and (min-width: 700px) {
  main aside > header > div .btn-open-menu {
    display: none;
  }
}
main aside .aside-content {
  position: absolute;
  display: none;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 73px;
  right: 0;
  z-index: 2;
}
@media screen and (min-width: 700px) {
  main aside .aside-content {
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    top: auto;
    right: auto;
    z-index: 1;
    background: transparent;
  }
}
@media screen and (min-width: 1150px) {
  main aside .aside-content {
    max-width: 255px;
    place-self: end;
  }
}
main aside .aside-content > div {
  width: 72.5%;
  background-color: #F7F8FD;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  main aside .aside-content > div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}
@media screen and (min-width: 1150px) {
  main aside .aside-content > div {
    flex-direction: column;
  }
}
main aside .aside-content > div .categories {
  width: 80%;
  display: flex;
  gap: 8px;
  row-gap: 14px;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 1rem;
  margin-block-start: 1.5rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 700px) {
  main aside .aside-content > div .categories {
    margin-block-start: 0;
    width: 100%;
    height: 178px;
  }
}
main aside .aside-content > div .categories .category {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main aside .aside-content > div .categories .category-active {
  background-color: #4661E6;
}
main aside .aside-content > div .categories .category-active p {
  color: #FFFFFF;
}
main aside .aside-content > div .roadmap {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
  margin-block-start: 1.5rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 700px) {
  main aside .aside-content > div .roadmap {
    margin-block-start: 0;
    width: 100%;
    height: 178px;
  }
}
main aside .aside-content > div .roadmap > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main aside .aside-content > div .roadmap > header h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3A4374;
}
main aside .aside-content > div .roadmap > header a {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #4661E6;
}
main aside .aside-content > div .roadmap > header a:hover {
  color: #8397F8;
}
main aside .aside-content > div .roadmap ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main aside .aside-content > div .roadmap ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main aside .aside-content > div .roadmap ul li > div {
  display: flex;
  gap: 16px;
  align-items: center;
}
main aside .aside-content > div .roadmap ul li > div p {
  color: #647196;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
main aside .aside-content > div .roadmap ul li > div .circle {
  padding: 4px;
  border-radius: 100%;
}
main aside .aside-content > div .roadmap ul li > div .c-orange {
  background-color: #F49F85;
}
main aside .aside-content > div .roadmap ul li > div .c-purple {
  background-color: #AD1FEA;
}
main aside .aside-content > div .roadmap ul li > div .c-light-blue {
  background-color: #62BCFA;
}
main aside .aside-content > div .roadmap ul li p {
  color: #647196;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

.suggestions {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #373F68;
  padding-block: 8px;
}
@media screen and (min-width: 700px) {
  .suggestions {
    background-color: transparent;
  }
}
@media screen and (min-width: 1150px) {
  .suggestions {
    padding-block-start: 40px;
    grid-column: 3/4;
    grid-row: 1/2;
    grid-auto-rows: max-content;
  }
}
.suggestions > div {
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .suggestions > div {
    padding: 1.5em;
    border-radius: 10px;
    background-color: #373F68;
  }
}
.suggestions > div .left {
  display: flex;
  align-items: center;
}
.suggestions > div .left .suggest {
  display: none;
  margin-inline-end: calc(2em - 2px);
}
@media screen and (min-width: 700px) {
  .suggestions > div .left .suggest {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
.suggestions > div .left .suggest h2, .suggestions > div .left .suggest h2 .totalSuggestions {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
.suggestions > div .left .sort-by {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
  position: relative;
  height: 40px;
}
.suggestions > div .left .sort-by:hover > p, .suggestions > div .left .sort-by:hover .sort-span, .suggestions > div .left .sort-by:hover > img {
  opacity: 0.8;
}
.suggestions > div .left .sort-by .sort-arrow-up {
  display: none;
}
.suggestions > div .left .sort-by p, .suggestions > div .left .sort-by .sort-span {
  color: #F2F4FF;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.suggestions > div .left .sort-by p .sort-span, .suggestions > div .left .sort-by .sort-span .sort-span {
  font-weight: 700;
}
.suggestions > div .left .sort-by .sort-by-active {
  position: absolute;
  top: calc(100% + 24px);
  left: 0;
  display: none;
  place-items: center;
}
@media screen and (min-width: 700px) {
  .suggestions > div .left .sort-by .sort-by-active {
    top: calc(100% + 40px);
  }
}
.suggestions > div .left .sort-by .sort-by-active ul {
  width: 255px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0px rgba(55, 63, 104, 0.3);
}
.suggestions > div .left .sort-by .sort-by-active ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
  mix-blend-mode: normal;
}
.suggestions > div .left .sort-by .sort-by-active ul li:last-of-type {
  border: none;
}
.suggestions > div .left .sort-by .sort-by-active ul li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #647196;
}
.suggestions > div .left .sort-by .sort-by-active ul li:hover p {
  color: #AD1FEA;
}
.suggestions > div .left .sort-by .sort-by-active ul li img {
  display: none;
}
.suggestions > div .left .sort-by .sort-by-active ul .li-active img {
  display: flex;
}

.feed {
  width: 100%;
  display: grid;
  place-items: center;
  margin-block: 1rem;
}
.feed > div {
  place-items: center;
}
.feed > div .comment {
  width: 100%;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 32px;
  gap: 1rem;
}
@media screen and (min-width: 700px) {
  .feed > div .comment {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
  }
}
.feed > div .comment .upvote, .feed > div .comment .comments {
  grid-row: 2/2;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .feed > div .comment .upvote {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .feed > div .comment .comments {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
.feed > div .comment .comment-content {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 700px) {
  .feed > div .comment .comment-content {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-inline-start: 1.5em;
  }
}
.feed > div .comment .comment-content h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
.feed > div .comment .comment-content > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #647196;
}
.feed > div .comment .comment-content > div {
  display: flex;
  justify-content: flex-start;
}
.feed > div .comment .upvote {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F2F4FF;
  border-radius: 10px;
}
@media screen and (min-width: 700px) {
  .feed > div .comment .upvote {
    max-width: 40px;
    max-height: 53px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
}
.feed > div .comment .upvote p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.18px;
}
.feed > div .comment .comments {
  width: 60px;
  display: flex;
  place-self: end;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 700px) {
  .feed > div .comment .comments {
    place-self: center;
  }
}
.feed > div .comment .comments p {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.222px;
}
.feed > div .comment .comments .zero-comments {
  opacity: 0.5;
}
.feed > div .no-feedbacks {
  width: 100%;
  margin-block-start: 1rem;
  display: grid;
  place-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 76px 24px;
  gap: 14px;
}
@media screen and (min-width: 700px) {
  .feed > div .no-feedbacks {
    padding-block: 110px;
  }
}
.feed > div .no-feedbacks img {
  margin-block-end: 25px;
}
.feed > div .no-feedbacks h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 700px) {
  .feed > div .no-feedbacks h2 {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.333333px;
  }
}
.feed > div .no-feedbacks p {
  color: #647196;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .feed > div .no-feedbacks p {
    font-size: 16px;
    line-height: 23px;
  }
}
@media screen and (min-width: 1150px) {
  .feed > div .no-feedbacks p {
    max-width: 410px;
  }
}
.feed > div .no-feedbacks > a {
  margin-block-start: 10px;
}
@media screen and (min-width: 1150px) {
  .feed > div .no-feedbacks > a {
    margin-block-start: 34px;
  }
}

/*# sourceMappingURL=index.css.map */
