@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: #3A4374;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F8FD;
}

.container-flex {
  width: 87.5%;
  max-width: 1300px;
  display: flex;
}

.container-grid {
  width: 87.5%;
  max-width: 1300px;
  display: grid;
}

.category {
  padding: 6px 16px;
  border-radius: 10px;
  background-color: #F2F4FF;
}
.category p {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
}

.btn-primary {
  width: auto;
  display: grid;
  place-items: center;
}
.btn-primary button, .btn-primary input {
  padding: 10.5px 16.5px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #F2F4FF;
  cursor: pointer;
}
.btn-primary button:hover, .btn-primary input:hover {
  transition: 0.2s;
}

.btn-purple button, .btn-purple input {
  background-color: #AD1FEA;
}
.btn-purple button:hover, .btn-purple input:hover {
  background-color: #C75AF6;
}

.btn-blue button, .btn-blue input {
  background-color: #4661E6;
}
.btn-blue button:hover, .btn-blue input:hover {
  background-color: #7C91F9;
}

.btn-dark-blue button, .btn-dark-blue input {
  background-color: #373F68;
}
.btn-dark-blue button:hover, .btn-dark-blue input:hover {
  background-color: #656EA3;
}

.btn-red button, .btn-red input {
  background-color: #D73737;
}
.btn-red button:hover, .btn-red input:hover {
  background-color: #E98888;
}

.btn-goback-primary {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.btn-goback-primary p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #647196;
}
.btn-goback-primary:hover {
  text-decoration: underline;
}

.btn-goback-secundary {
  width: auto;
  padding: 16px 41px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #373F68;
}
.btn-goback-secundary p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}
.btn-goback-secundary:hover p {
  text-decoration: underline;
}

header {
  display: grid;
  place-items: center;
  padding-block: 26px;
  background-color: #373F68;
}
header > div {
  align-items: center;
  justify-content: space-between;
}
header > div .header-left {
  display: grid;
  place-items: center;
}
header > div .header-left h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}
header > div .header-left a p {
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF !important;
}

main .feed {
  margin: 0;
}
main .feed > div .comment {
  margin: 0;
}

main {
  display: grid;
}
main .selectors {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);
}
main .selectors .selector {
  width: 100%;
  display: grid;
  place-items: center;
  padding-block: 20px;
}
main .selectors .selector p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.180556px;
  opacity: 0.4;
}
main .selectors .selector-active {
  position: relative;
}
main .selectors .selector-active p {
  opacity: 1;
}
main .selectors .selector-active::after {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #AD1FEA;
}
main > .container-grid {
  place-self: center;
}

.circle {
  padding: 4px;
  border-radius: 100%;
}

.c-orange {
  background-color: #F49F85;
}

.c-purple {
  background-color: #AD1FEA;
}

.c-light-blue {
  background-color: #62BCFA;
}

.comment {
  width: 100%;
  padding: 24px;
  background: linear-gradient(180deg, rgb(173, 31, 234) 6px, rgb(255, 255, 255) 6px);
  border-radius: 10px;
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 32px;
  gap: 1rem;
}
.comment .stats {
  grid-row: 1/1;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  gap: 8px;
}
.comment .upvote, .comment .comments {
  grid-row: 3/4;
  cursor: pointer;
}
.comment .comment-content {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.comment .comment-content h2 {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.18px;
}
.comment .comment-content > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #647196;
}
.comment .comment-content > div {
  display: flex;
  justify-content: flex-start;
}
.comment .upvote {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F2F4FF;
  border-radius: 10px;
}
.comment .upvote p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.18px;
}
.comment .comments {
  width: 60px;
  display: flex;
  place-self: end;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.comment .comments p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.18px;
}
.comment .comments .zero-comments {
  opacity: 0.5;
}

/*# sourceMappingURL=roadmap.css.map */
