.hero {
    padding-block: 105px;
    background-image: url(../assets//web-design/desktop/bg-pattern-intro-web.svg);
    background-position-y: 0;
    background-position-x: -500px;
}

.show-case {
    width: 100%;
    display: grid;
    place-items: center;
    margin-block: 96px;
}
.shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.shows figure {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.shows figure img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}
.shows figure > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 32px 30px;
    background-color: #FDF3F0;
    border-radius: 0 0 15px 15px;
}
.shows figure > div figcaption {
    color: var(--Peach);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
}
.shows figure > div p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.shows a:hover figure > div {
    background-color: var(--Peach);
    transition: .2s;
}
.shows a:hover figure > div figcaption {
    color: var(--White);
}
.shows a:hover figure > div p {
    color: var(--White);
}

@media screen and (min-width: 660px) and (max-width: 999px) {
    header .hero {
        padding-block: 64px;
        background-size: 900px;
        background-position: 0;
    }

    main {
        margin-block-start: 120px;
    }

    .show-case .shows figure {
        flex-direction: row;
    }
    .show-case .shows figure img {
        width: 50%;
        border-radius: 15px 0 0 15px;
    }
    .show-case .shows figure div {
        width: 50%;
        border-radius: 0 15px 15px 0;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) {
    header .hero {
        background-position: right -150px;
        justify-content: center;
        padding-block: 64px;
    }
    header .hero > div {
        margin: 0;
    }
    header .hero > div .hero-text h1, header .hero > div .hero-text p{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .leaf {
        top: 300px;
    }

    .show-case .shows {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio div .right { 
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}