@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: var(--White);
}

html {
    scroll-behavior: smooth;
}

:root {
    --Dark-Blue-intro: hsl(217, 28%, 15%);
    --Dark-Blue-main: hsl(218, 28%, 13%);
    --Dark-Blue-footer: hsl(216, 53%, 9%);
    --Dark-blues-testmonials: hsl(219, 30%, 18%);
    --Cyan-gradient-1: hsl(176, 68%, 64%);
    --Cyan-gradient-2: hsl(198, 60%, 50%);
    --Red: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}

.container-flex {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

small {
    font-size: 10px;
}

/* header */
header {
    padding-block-start: 15px;
    width: 100%;
    background-color: var(--Dark-Blue-intro);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a > img {
    width: 90px;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

nav ul li a:hover {
    text-decoration: underline;    
}

.header-content {
    flex-wrap: wrap;
}

.hero {
    width: 100%;
    margin-block-start: 50px;
}

.hero figure {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-bottom: 100px;
}

.hero figure img {
    width: 80%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    width: 90%;
    margin: -60px auto 0 auto;
    text-align: center;
}

.hero-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--Dark-Blue-main);
    padding-block-start: 60px;
    margin-block-start: -30px;
}

.hero-txt p {
    width: 80%;
    text-align: center;
}

.primary-btn {
    padding-block   : 30px;
    width: 100%;
    background-color: var(--Dark-Blue-main);
    display: flex;
    justify-content: center;
}

.primary-btn a button {
    padding: 15px 90px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 25px;
    background: linear-gradient(95deg, var(--Cyan-gradient-1), var(--Cyan-gradient-2));
    cursor: pointer;
}

.primary-btn a button:hover {
    background: linear-gradient(var(--Cyan-gradient-1), var(--Cyan-gradient-1));
}

/* main */
main {
    padding-block: 100px 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--Dark-Blue-main);
}

/* features */
#features {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.card figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card figcaption {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    margin-block: 30px 10px;
}

.card p {
    text-align: center;
}

/* team */
#team {
    margin-block-start: 150px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#team figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#team figure > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#team figcaption {
    margin-block-start: 30px;
    font: 700 1.3rem 'Raleway', sans-serif;
}

#team div {
    display: flex;
    flex-direction: row;
}

.seemore {
    display: flex;
    align-items: center;
    color: var(--Cyan-gradient-1);
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--Cyan-gradient-1);
}

.seemore:hover {
    color: var(--White);
    border-color: var(--White);
    transition: .3s;
}

.white {
    display: none;
}

.seemore:hover > .white {
    display: flex;
}

.seemore:hover > .normal {
    display: none;
}

/* testmonials */
#testmonials {
    margin-block-start: 130px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.quotes {
    width: 25px;
    margin-inline-start: 5px;
}

.testmonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--Dark-blues-testmonials);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--Dark-blues-testmonials)
}

.testmonial img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.testmonial > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* footer */
footer {
    padding-block-start: 300px;
    background-color: var(--Dark-Blue-footer);
}

.access {
    width: calc(90% - 60px) !important;
    margin-block-start: -460px;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: var(--Dark-Blue-intro);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.access h2 {
    font-family: 'Revera', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

.access p {
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    color: var(--Dark-Blue-footer);
}

form input::placeholder {
    color: #ccc;
}

form input:last-of-type {
    background: linear-gradient(95deg, var(--Cyan-gradient-1), var(--Cyan-gradient-2));
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

form input:last-of-type:hover {
    background: linear-gradient(var(--Cyan-gradient-1), var(--Cyan-gradient-1));
}

.sobre {
    margin-block: 75px 50px;
    flex-wrap: wrap;
    gap: 30px;
}

.sobre > div {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact img:first-of-type {
    height: 19px;
}

.contact p:first-of-type {
    max-width: 290px;
}

.contact div {
    width: 100%;
    display: flex;
    gap: 30px;
}

.contact > div:last-child {
    display: flex;
    flex-direction: column;
}

.links {
    width: calc(90% + 20px) !important;
    margin-block-start: 30px;
}

.links ul li {
    list-style: none;
    padding: 10px;
}

.links ul li a {
    font-size: 1.3rem;
}

.links ul li a:hover {
    text-decoration: underline;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-block-start: 50px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--White);
}

.social a:hover {
    border-color: var(--Cyan-gradient-1);
    transition: .3s;
}

.social a:hover > i{
    color: var(--Cyan-gradient-1);
    transition: .3s;
}

.copy {
    margin-block-start: 30px;
    font-size: .7rem;
    padding: 10px;
    text-align: center;
}

.copy a {
    font-size: .7rem;
    color: var(--Cyan-gradient-1);
}

.copy a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1100px) {
    header {
        padding-block-start: 50px;
    }
    nav a img {
        width: 100%;
    }
    nav ul {
        gap: 20px;
    }
    nav ul li a {
        font-size: 1.2rem;
    }

    .hero figure {
        background: none;
        height: 450px;
        padding: 0;
    }
    .hero figure img {
        width: 500px;
        height: 350px;
    }
    h1 {
        font-size: 2.5rem;
        max-width: 600px;
    }
    .hero-txt {
        background: none;
        background-image: url(images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-position: top;
        padding-block-end: 214px;
    }
    .hero-txt p{
        font-size: 1.2rem;
        max-width: 500px;
        
    }
    .primary-btn {
        background: none;
    }

    main {
        padding: 0;
    }

    #features {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        width: 45%;
    }
    .card figure figcaption {
        font-size: 1.6rem;
    }
    .card figure p {
        max-width: 380px;
    }

    #team figure {
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 50px;
    }
    #team figure > div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    #team figure img {
        width: 50%;
    }
    #team figure figcaption {
        max-width: 300px;
        font-size: 2.5rem;
    }
    #team figure p {
        max-width: 450px;
    }
    .seemore img {
        width: 30px !important;
        height: 30px;
    }

    .quotess {
        width: 100%;
    }

    #testmonials {
        margin-block-end:230px;
    }

    .testmonial {
        max-width: 27%;
    }

    .access {
        margin-block-start: -230px;
        max-width: 45%;
    }

    form {
        flex-wrap: nowrap;
    }

    form input:last-of-type {
        width: 50%;
    }

    .sobre {
        width: 45%;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 75px 0 50px 10%;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-block-start: 100px;
    }
    footer > div:first-of-type {
        width: 100%;
    }
    .sobre > div {
        gap: 75px;
    }
    .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .contact p {
        width: 290px;
    }
    .contact > div:last-child {
        gap: 20px;
    }
    .contact > div:last-child p {
        max-width: 140px;
    }
    .links {
        width: 12.5% !important;
        margin: 0 !important;
        justify-content: center;
    }
    .links ul {
        margin-block-start: 157px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .links ul li {
        padding: 0;
    }
    .links ul li a {
        font-size: 1.1rem;
        padding: 5px;
    }
    .social {
        width: 10%;
        align-items: center;
    }
    .copy {
        width: 100%;
    }

}