@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --trawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

small {
    color: var(--Cool-gray);
    font-size: .8rem;
}

/* main */
main {
    display: flex;
    flex-direction: column;
}

/* aside */
aside {
    width: 100%;
    height: 172px;
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
aside ul {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.step-text{
    display: none;
}
.nums {
    color: var(--White);
    border: 1px solid var(--White);
    list-style: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.active {
    background-color: var(--Light-blue);
    border: none;
    color: var(--Marine-blue);
}

/* section */
section {
    height: calc(100vh - 247px);
    display: flex;
    flex-direction: column;
    background-color: var(--Magnolia);
}
.card {
    width: calc(90% - 40px);
    margin: -75px auto 0 auto;
    padding: 20px;
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section h2 {
    margin-block-start: 10px;
    font-size: 1.7rem;
    color: var(--Marine-blue);
}
section p {
    color: var(--Cool-gray);
}

/* footer */
footer {
    height: 75px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: end;
}
button {
    margin-inline-end: 5%;
    padding: 12px 16px;
    background-color: var(--Marine-blue);
    border: none;
    border-radius: 5px;
    color: var(--White);
    cursor: pointer;
}

.button-form-desktop {
    display: none;
}

@media screen and (min-width: 1080px) {
    body {
        display: grid;
        place-items: center;
        background-color: var(--Magnolia);
        width: 100vw;
        height: 100vh;
    }

    main {
        background-color: var(--White);
        width: 65%;
        height: 65%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        border-radius: 20px;
    }
    aside {
        background-image: url(./assets/images/bg-sidebar-desktop.svg);
        min-width: 274px;
        width: 274px;
        height: 100%;
        border-radius: 10px;
    }
    aside ul {
        flex-direction: column;
    }
    .nums {
        display: flex;
    }
    .step-description {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
    .step-text {
        display: flex;
        width: 150px;
        flex-direction: column;
        gap: 3px;
    }
    .step-text span {
        color: var(--Cool-gray);
        font-size: .8rem;
    }
    .step-text p {
        color: var(--White);
        font-weight: 500;
    }

    section {
        width: 100%;
        height: 100%;
        background-color: var(--White);
        padding-inline: 100px;
    }
    .card {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
        gap: 40px;
    }
    .card h2 {
        margin-block-start: 50px;
        font-size: 2.1rem;
    }
    .card p {
        margin-block-start: -30px;
    }
    #form label {
        margin-block-end: 5px;
    }
    #form input {
        margin-block-end: 25px;
        padding: 14px 24px;
    }

    .button-form-desktop {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .button-form-desktop button {
        margin: 0;
        margin-bottom: 15px;
        padding: 14px 26px;
    }

    .button-form-desktop a {
        font-weight: 500;
        color: var(--Cool-gray);
        text-decoration: none;
        margin-left: 5%;
        margin-bottom: 15px;
    }

    footer {
        display: none !important;
    }
}