@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  background-color: #313e51;
}

body {
  background-color: #f4f6fa;
}

@media screen and (max-width: 767px) {
  .dark body {
    background-image: url(../../public/pattern-background-mobile-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  body {
    background-image: url(../../public/pattern-background-mobile-light.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .dark body {
    background-image: url(../../public/pattern-background-tablet-dark.svg);
    background-size: 400px;
    background-repeat: no-repeat;
  }
  body {
    background-image: url(../../public/pattern-background-tablet-light.svg);
    background-size: 400px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .dark body {
    background-image: url(../../public/pattern-background-desktop-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  body {
    background-image: url(../../public/pattern-background-desktop-light.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
