header
  width: 100%
  display: grid
  place-items: center
  .container-grid
    padding-block-start: 23px
    place-items: center
    gap: 64px
    nav
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
  .hero
    display: grid
    place-items: center
    margin-block-start: 64px
    @include m.tablet
      width: 93.625%
      justify-self: end
      display: flex
      flex-direction: row  
      align-items: center
      gap: 59px
      margin-block-end: 40px
    .hero-txt
      width: 87.25%
      display: flex
      flex-direction: column
      gap: 32px
      @include m.tablet
        width: 100%
        max-width: 339px
      div 
        display: flex
        align-items: center
        gap: 32px
        p span
          font-weight: 700
          text-transform: uppercase
          color: v.$blue-gray
    .hero-img
      width: 100%
      display: grid
      margin-block: 64px 24px
      @include m.tablet 
        margin: 0
      picture
        display: grid
        img
          justify-self: flex-end
          width: 93.625%
          border-radius: 20px 0 0 20px
          @include m.tablet
            width: 100%
            height: 425px
            object-fit: cover
            object-position: left
  .hero-img__two
    width: 93.625%
    justify-self: start
    display: flex
    flex-direction: row
    gap: 24px
    height: 193px
    @include m.tablet
      width: 87.25%
      height: 320px
      justify-self: center
    picture:first-of-type
      position: relative
      width: 100%
      height: 100%
      max-width: 107px
      @include m.tablet
        max-width: 214px
      img 
        object-fit: cover
        object-position: right
        border-radius: 0 20px 20px 0
        width: 100%
        height: 100%
        @include m.tablet
          border-radius: 20px
      &::after
        border-radius: 0 20px 20px 0
        top: 0
        position: absolute
        content: ''
        display: flex
        background-color: v.$orange
        width: 100%
        height: 100%
        mix-blend-mode: multiply
        @include m.tablet
          border-radius: 20px
    picture:last-of-type
      width: 100%
      > img 
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        border-radius: 20px
