@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* GERAL styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --Light--Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}

.flex-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

small {
    color: #bbb;
}

/* HEADER */
header {
    margin-top: 30px;
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 125px;
}

.btn-secundary {
    color: var(--Pink);
    background-color: transparent;
    padding: 6px 20px;
    border: 1px solid var(--Pink);
    border-radius: 20px;
    font-size: .8rem;
    cursor: pointer;
}

.btn-secundary:hover {
    border-color: var(--Light--Pink);
    color: var(--Light--Pink);
    transition: .3s;
}

.hero {
    margin-top: 100px;
}

.hero-text {
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Very-Dark-Cyan);
}

.hero-text p {
    font-size: 1rem;
    color: var(--Very-Dark-Cyan);
    margin-block: 25px;
}

.btn-primary {
    margin-block-start: 25px;
    color: var(--Very-Pale-Blue);
    padding: 12.5px 40px;
    border: none;
    border-radius: 25px;
    background-color: var(--Pink);
    box-shadow: 0 5px 8px #ddd;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--Light--Pink);
    transition: .3s;
}

.hero-img {
    margin-block: 100px 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-img img {
    width: 100%;
}

.informes {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info img{
    width: 30px;
}

.info-txt {
    font-size: 4rem;
    color: var(--Very-Dark-Cyan);
    font-weight: 700;
}

/* MAIN */

/* together */
.together {
    padding-block: 100px;
    width: 100%;
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
}

.together-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 100px 80px;
    background-color: #f6fbff;
}

.together-img img {
    width: 80%;
}

.together-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f6fbff;
}

.together-text h2 {
    width: 80%;
    margin: 0 auto;
    color: var(--Very-Dark-Cyan);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.together-text p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-block-end: 50px;
    color: var(--Very-Dark-Cyan);
}

.together::after {
    content: '';
    display: block;
    height: 60px;
    background-image: url(images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;
}

/* conversation */
.conversation {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conversation img {
    width: 80%;
    margin: 0 auto 50px auto;
}

.conversation h2 {
    width: 80%;
    margin: 0 auto 20px auto;
    color: var(--Very-Dark-Cyan);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.conversation p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-block-end: 50px;
    color: var(--Very-Dark-Cyan);
}

/* users */
.users {
    padding-block: 100px;
    width: 100%;
    background-image: url(images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
}

.users-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 100px 80px;
    background-color: var(--Very-Pale-Blue);
}

.users-img img {
    width: 80%;
}

.users-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--Very-Pale-Blue);
}

.users-text h2 {
    width: 80%;
    margin: 0 auto;
    color: var(--Very-Dark-Cyan);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.users-text p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-block-end: 50px;
    color: var(--Very-Dark-Cyan);
}

.users::after {
    content: '';
    display: block;
    height: 110px;
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
}

/* build */
.build {
    flex-direction: column;
    text-align: center;
    margin-block-end: 125px;
}

.build h2 {
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Cyan);
}

/* FOOTER */


footer {
    padding-block-start: 53px;
    width: 100%;
    background-image: url(images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    color: var(--Very-Pale-Blue);
}

.footer-content {
    background-color: var(--Very-Dark-Cyan);
}

.news {
    flex-direction: column;
    gap: 20px;
}

.news h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.news p {
    line-height: 1.5rem;
    font-size: .95rem;
}

.news form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.news input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--Very-Dark-Cyan);
}

.subscribe {
    width: calc(30% + 60px) !important;
    padding-inline: 30px !important;
    margin: auto 0 auto auto;
    border: none;
    background-color: var(--Pink);
    color: var(--Very-Pale-Blue) !important;
    font-weight: 600;
    cursor: pointer;
}

.subscribe:hover {
    background-color: var(--Light--Pink);
    transition: .3s;
}

/* huddle */
.huddle {
    margin-block-start: 100px;
    flex-direction: column;
    gap: 30px;
}

.huddle img {
    width: 65%;
}

.inf {
    display: flex;
    gap: 20px;
}

.inf img {
    width: 18px;
    height: 18px;
}

.inf img:last-of-type {
    width: 20px;
    height: 16px;
}

.social {
    display: flex;
    gap: 15px;
}

.social i:hover {
    color: #08c6fb;
    transition: .3s;
}

.social i {
    color: var(--Very-Pale-Blue);
    font-size: 1.5rem;
}

.copy {
    font-size: .7rem;
    padding: 10px;
}

.copy a {
    font-size: .7rem;
    color: var(--Light--Pink);
}


@media screen and (min-width: 1200px) {
    nav a img{
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-text {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    .hero-text p {
        max-width: 565px;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    .btn-primary {
        padding: 25px 100px;
        border-radius: 50px ;
    }
    .hero-img > img:first-of-type {
        width: 85%;
        margin: 0 auto;
    }

    .informes {
        margin-block-start: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .info {
        max-width: 300px;
        margin: 0;
        padding: 0;
    }

    .info img {
        width: 50px;
    }

    .info p {
        font-size: 6rem;
    }

    small {
        font-size: 1.4rem;
    }

    .together {
        background-image: url(images/bg-section-top-desktop-1.svg);
        padding-block: 165px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .together-img {
        width: 50%;
    }

    .together-text {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .together-text h2 {
        text-align: left;
        font-size: 3rem;
    }

    .together-text p {
        width: 80%;
        text-align: left;
        font-size: 1.1rem;
    }

    .together::after {
        height: 165px;
        width: 100%;
        background-image: url(images/bg-section-bottom-desktop-1.svg);
    }

    .conversation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    .conversation > img {
        width: 50%;
    }

    .conversation > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .conversation h2 {
        text-align: left;
        font-size: 2.5rem;
    }

    .conversation p {
        width: 80%;
        text-align: left;
    }

    .users {
        padding-top: 156px;
        background-image: url(images/bg-section-top-desktop-2.svg);
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .users::after {
        height: 139px;
        width: 100%;
        background-image: url(images/bg-section-bottom-desktop-2.svg);
        
    }

    .users-img {
        background-color: #f6fbff;
        width: 50%;
    }

    .users-text {
        background-color: #f6fbff;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .users-text h2 {
        text-align: left;
        font-size: 3rem;
    }

    .users-text p {
        width: 80%;
        text-align: left;
        font-size: 1.1rem;
    }

    footer {
        padding-block-start: 158px;
        background-image: url(images/bg-footer-top-desktop.svg);
    }

    .footer-content {
        padding-top: 100px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: top;
        gap: 20%;
    }

    .huddle {
        width: 25%;
        margin: 0 0 0 100px;
    }

    .news {
        width: 30%;
    }

    .news p {
        width: 70%;
        font-size: .8rem;
    }

    .news input:first-of-type {
        width: 60%;
    }

    .news input:last-of-type {
        width: 30% !important;
        margin: 0;
    }

    .copy {
        text-align: left;
        padding: 10px 0;
    }
}