main
	width: 100%
	display: grid
	place-items: center
	margin-block-start: 75px
	> div
		flex-direction: column
		#description
			display: flex
			flex-direction: column
			align-items: center
			gap: 24px
			h2
				max-width: 255px
			h2, p
				text-align: center
