/* ABOUT */
.about > div {
    display: grid;
    place-items: center;
    margin-block-start: 120px;
}
.about .cards .card figure {
    display: flex;
    flex-direction: column;
}
.about figure h2 {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.img-bg-1, .img-bg-2, .img-bg-3 {
    margin-block-end: 16px;
}
.img-bg-1 {
    rotate: none;
}
.img-bg-1 > img {
    rotate: none;
}
.img-bg-2 {
    rotate: -95deg;
}
.img-bg-2 > img {
    rotate: 95deg;
}
.img-bg-3 {
    rotate: -180deg;
}
.img-bg-3 > img {
    rotate: 180deg;
}

.btn-secundary {
    margin-block-start: 10px;
    display: grid;
    place-items: center;
    z-index: 2;
}
.btn-secundary button {
    color: var(--White);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 18px 18.5px 16px 18.5px;
    border: none;
    border-radius: 10px;
    background-color: var(--Peach);
    cursor: pointer;
}
.btn-secundary button:hover {
    background-color: #FFAD9B;
    transition: .2s;
}

@media screen and (min-width: 660px) {
    .about .cards .card figure {
        gap: 32px;
    }
    .about .cards {
        gap: 80px;
    }
}

@media screen and (min-width: 1000px) {
    .about > div {
        margin: 0;
    }
    .about .cards {
        width: 100%;
        justify-content: space-evenly;
    }
}