/* figurecaption */
.figurecaption figure {
    display: grid;
    place-items: center;
}
.figurecaption figure picture > img {
    width: 100%;
}
.figurecaption figure > div {
    display: grid;
    place-items: center;
    background-image: url(../assets/shared/desktop/bg-pattern-three-circles.svg);
    background-color: #FDF3F0;
}
.figurecaption figure > div > div {
    padding-block: 80px;
    flex-direction: column;
    gap: 24px;
}
.figurecaption figcaption {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: var(--Peach);
    text-align: center;
}
.figurecaption p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

@media screen and (min-width: 660px) {
    .figurecaption figure > div {
        border-radius: 0 0 15px 15px;
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: 120px -215px;
        width: 100%;
    }
    .figurecaption figure > div > div h2, .figurecaption figure > div > div p{
        max-width: 572px;
    }
    .figurecaption figure > div > div p{
        font-size: 16px;
        line-height: 26px;
    }
    .figurecaption figure > div > div h2{
        font-size: 40px;
        line-height: 48px;
    }
}

@media screen and (min-width: 1000px) {
    .figurecaption {
        width: 100%;
        max-height: 480px;
        display: grid;
        place-items: center;
    }
    .figurecaption figure {
        display: flex;
        width: 100%;
    }
    .figurecaption figure > div {
        width: 60%;
        padding: 0;
        height: 100%;
        min-height: 480px;
        border-radius: 0 15px 15px 0;
    }
    .figurecaption figure > div > div {
        padding: 0;
    }
    .figurecaption figure > div > div p, .figurecaption figure > div > div figcaption {
        text-align: left;
    }
    .figurecaption figure picture {
        display: flex;
        width: 40%;
    }
    .figurecaption figure picture img {
        min-height: 480px;
        max-height: 480px;
        border-radius: 15px 0 0 15px;
    }

    .figurecaption figure > div {
        background-position: -100px bottom;
    }
}