/* locations */
.locations {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 40px;
}
.figurecaption {
    width: 100%;
}
.figurecaption figure picture {
    width: 100%;
    display: flex;
}
.figurecaption figure picture img {
    width: 100%;
}
.figurecaption figure > div {
    width: 100%;
}
.figcap-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.figurecaption .local-info b, .figurecaption .local-info p, .figurecaption .contact-info b, .figurecaption .contact-info p{
    color: var(--Dark-grey);
}

@media screen and (min-width: 660px) {
    .locations {
        gap: 40px;
    }

    .figurecaption {
        width: 100%;
        display: grid;
        place-items: center;
    }
    .figurecaption figure{
        width: 87.2%;
        gap: 24px;
    }
    .figurecaption figure picture img {
        width: 100%;
        border-radius: 15px;
    }
    .figurecaption figure > div {
        width: 100%;
        border-radius: 15px;
    }
    .figurecaption figure > div > div figcaption {
        text-align: left;
    }
    .figurecaption .figcap-content {
        flex-direction: row;
        gap: 60px;
    }
    .figurecaption .figcap-content > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1000px) {
    .locations {
        gap: 32px;
    }
    
    .figurecaption figure {
        width: 78%;
    }
    .figurecaption figure picture {
        width: 30%;
        min-height: 326px;
        max-height: 326px;
    }
    .figurecaption figure picture img {
        min-height: 326px;
        max-height: 326px;
    }
    .figurecaption figure > div {
        width: 70%;
        min-height: 326px;
        max-height: 326px;
    }

    #canada, #uk{
        flex-direction: row-reverse;
    }
}