@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7B8BAD;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #162542;
}
@media screen and (min-width: 369px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
  }
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #162542;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #162542;
}

.container-flex {
  width: 87.25%;
  max-width: 1200px;
  display: flex;
}
.container-grid {
  width: 87.25%;
  max-width: 1200px;
  display: grid;
}

.btn button {
  width: max-content;
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 369px) {
  .btn button {
    padding: 16px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
}
.btn.btn-primary button {
  background-color: #F16718;
}
.btn.btn-primary button:hover {
  transition: 0.3s;
  background-color: #FF9B62;
}
.btn.btn-secundary button {
  background-color: #E8EFF2;
  color: #162542;
}
.btn.btn-secundary button:hover {
  transition: 0.3s;
  background-color: #162542;
  color: #ffffff;
}

header {
  width: 100%;
  display: grid;
  place-items: center;
}
header .container-grid {
  padding-block-start: 23px;
  place-items: center;
  gap: 64px;
}
header .container-grid nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero {
  display: grid;
  place-items: center;
  margin-block-start: 64px;
}
@media screen and (min-width: 625px) {
  header .hero {
    width: 93.625%;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 59px;
    margin-block-end: 40px;
  }
}
header .hero .hero-txt {
  width: 87.25%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 625px) {
  header .hero .hero-txt {
    width: 100%;
    max-width: 339px;
  }
}
header .hero .hero-txt div {
  display: flex;
  align-items: center;
  gap: 32px;
}
header .hero .hero-txt div p span {
  font-weight: 700;
  text-transform: uppercase;
  color: #7B8BAD;
}
header .hero .hero-img {
  width: 100%;
  display: grid;
  margin-block: 64px 24px;
}
@media screen and (min-width: 625px) {
  header .hero .hero-img {
    margin: 0;
  }
}
header .hero .hero-img picture {
  display: grid;
}
header .hero .hero-img picture img {
  justify-self: flex-end;
  width: 93.625%;
  border-radius: 20px 0 0 20px;
}
@media screen and (min-width: 625px) {
  header .hero .hero-img picture img {
    width: 100%;
    height: 425px;
    object-fit: cover;
    object-position: left;
  }
}
header .hero-img__two {
  width: 93.625%;
  justify-self: start;
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 193px;
}
@media screen and (min-width: 625px) {
  header .hero-img__two {
    width: 87.25%;
    height: 320px;
    justify-self: center;
  }
}
header .hero-img__two picture:first-of-type {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 107px;
}
@media screen and (min-width: 625px) {
  header .hero-img__two picture:first-of-type {
    max-width: 214px;
  }
}
header .hero-img__two picture:first-of-type img {
  object-fit: cover;
  object-position: right;
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 625px) {
  header .hero-img__two picture:first-of-type img {
    border-radius: 20px;
  }
}
header .hero-img__two picture:first-of-type::after {
  border-radius: 0 20px 20px 0;
  top: 0;
  position: absolute;
  content: "";
  display: flex;
  background-color: #F16718;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
@media screen and (min-width: 625px) {
  header .hero-img__two picture:first-of-type::after {
    border-radius: 20px;
  }
}
header .hero-img__two picture:last-of-type {
  width: 100%;
}
header .hero-img__two picture:last-of-type > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
  margin-block-start: 75px;
}
main > div {
  flex-direction: column;
}
main > div #description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 625px) {
  main > div #description {
    flex-direction: row;
    justify-content: space-between;
  }
}
main > div #description h2 {
  max-width: 255px;
}
main > div #description h2, main > div #description p {
  text-align: center;
}
@media screen and (min-width: 625px) {
  main > div #description h2, main > div #description p {
    text-align: left;
  }
}
@media screen and (min-width: 625px) {
  main > div #description p {
    max-width: 398px;
  }
}

main #features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 111px;
  gap: 64px;
}
@media screen and (min-width: 625px) {
  main #features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    row-gap: 64px;
    column-gap: 69px;
  }
}
main #features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 625px) {
  main #features div {
    align-items: flex-start;
  }
}
main #features div .icon {
  width: 65px;
  height: 65px;
  margin-block-end: 24px;
  display: grid;
  place-items: center;
  background-color: #F16718;
  border-radius: 16px;
}
main #features div h2 {
  max-width: 237px;
}
main #features div h2, main #features div p {
  text-align: center;
}
@media screen and (min-width: 625px) {
  main #features div h2, main #features div p {
    text-align: left;
  }
}
@media screen and (min-width: 625px) {
  main #features div p {
    max-width: 281px;
  }
}

footer {
  width: 100%;
  display: grid;
  place-items: center;
  margin-block: 96px 50px;
}
footer > div {
  place-items: center;
}
footer > div div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 369px) {
  footer > div div {
    flex-direction: row;
    gap: 8px;
  }
}
footer > div .pope {
  display: none;
}
@media screen and (min-width: 369px) {
  footer > div .pope {
    display: flex;
  }
}
footer > div p a {
  font-weight: 700;
  color: #7B8BAD;
}
footer > div p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
