footer
  width: 100%
  display: grid
  place-items: center
  margin-block: 96px 50px
  > div
    place-items: center
    div
      display: flex
      flex-direction: column
      @include m.mobile
        flex-direction: row
        gap: 8px
    .pope
      display: none
      @include m.mobile
        display: flex
    p
      a
        font-weight: 700
        color: v.$blue-gray
        &:hover
          text-decoration: underline
